/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Jan, 2023, 11:12:34 PM
    Author     : hkhat
*/


.zoom-effect img {
    transition: transform 0.3s ease;
}

.zoom-effect:hover img {
    transform: scale(1.02);
}
