/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Jan, 2023, 3:55:08 PM
    Author     : hkhat
*/
body{
    font-family: 'Bahnschrift', sans-serif;
    background-color: black;
    color: white;
    height: 100%;
    min-height: 100%;

}

.product-categorie{
    padding: 0;
    margin: 0;
}

.categories{
    margin: 15px;
}


.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

#dtDynamicVerticalScrollExample{
    max-height: 100px;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

.modal-dialog {
  max-width: 30%;
}

.modal-footer{
    border:none;
}

a:hover{
    text-decoration: none;
}